<alert [hidden]="!dismissibleKey" type="warning">
  <strong>Ops</strong>, você precisa digitar uma chave.
</alert>
<alert [hidden]="dismissibleError" type="danger">
  <strong>Ops</strong>, nenhuma NF-e foi achada com essa chave.
</alert>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-offset-3 col-lg-6">
      Digite a chave da NF-e para pesquisar
      <div class="input-group">
        <input type="text" class="form-control" #key placeholder="chave da NF-e">
        <span class="input-group-btn">
          <button class="btn btn-primary" (click)="pesquisar(key.value)">Pesquisar</button>
        </span>
      </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div [hidden]="table">
      <table class="table" style="overflow: auto">
        <thead>
          <tr>
            <th>Chave</th>
            <th>Data</th>
            <th>Tipo</th>
            <th>Numero</th>
            <th>Serie</th>
            <th>Modelo</th>
            <th>ValorTotal</th>
            <th>ValorProd</th>
            <th>ValorICMS</th>
            <th>ValorIPI</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td tooltip="{{result.Chave}}">{{result.Chave | limitTo: 25}}</td>
            <td>{{result.Data}}</td>
            <td>{{result.Tipo}}</td>
            <td>{{result.Numero}}</td>
            <td>{{result.Serie}}</td>
            <td>{{result.Modelo}}</td>
            <td>R$ {{result.ValorTotal | moeda}}</td>
            <td>R$ {{result.ValorProd | moeda}}</td>
            <td>R$ {{result.ValorICMS | moeda}}</td>
            <td>R$ {{result.ValorIPI | moeda}}</td>
            <td>R$ {{result.Status}}</td>
          </tr>
        </tbody>
      </table>
      <div *ngFor="let item of trans">
        <p>{{item | regexString}}</p>
      </div>
    </div>
  </div>