<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Luiza Labs Teste
  </h1>
  <img width="300" alt="Angular Logo" src="http://especiais.magazineluiza.com.br/static/source/img/especiais/app-magazine/new/icon-app.png">
</div>


<div class="container">
  <tabset>
    <tab>
      <ng-template tabHeading>Tópico 1</ng-template>
      <app-topico1></app-topico1>
    </tab>

    <tab>
      <ng-template tabHeading>Tópico 2</ng-template>
      <app-topico2></app-topico2>
    </tab>
  </tabset>
</div>