<alert [hidden]="!dismissibleKey" type="warning">
  <strong>Ops</strong>, você precisa digitar uma data de entrada, saida e um tipo.
</alert>
<alert [hidden]="dismissibleError" type="danger">
  <strong>Ops</strong>, nenhuma NF-e foi achada com essa combinação.
</alert>
<div class="container-fluid">
  <div class="row">

    <div class="row">
      <div class="col-lg-6">
        Data Inicial:
        <div class="input-group">
          <input type="date" [(ngModel)]="initial" class="form-control" placeholder="Digite a data inicial">
        </div>
      </div>
      <div class="col-lg-6">
        Data Final:
        <div class="input-group">
          <input type="date" [(ngModel)]="end" class="form-control" placeholder="Digite a data final">
        </div>
      </div>
    </div>
    <br>

    <div class="col-lg-offset-3 col-lg-6">
      Escolha o tipo:
      <div class="input-group">
        <select [(ngModel)]="type" class="form-control">
          <option value='S'>Saída</option>
          <option value='E'>Entrada</option>
        </select>
        <span class="input-group-btn">
          <button class="btn btn-primary" (click)="pesquisar()">Pesquisar</button>
        </span>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div [hidden]="table">
      <table class="table" style="overflow: auto">
        <thead>
          <tr>
            <th>Valor Total</th>
            <th>Valor Produto</th>
            <th>Valor ICMS</th>
            <th>Valor IPI</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>R$ {{result.Valor_Total | moeda }}</td>
            <td>R$ {{result.Valor_Prod | moeda}}</td>
            <td>R$ {{result.Valor_ICMS | moeda}}</td>
            <td>R$ {{result.Valor_IPI | moeda}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>