<br>
<div class="card">
  <div class="card-block">
    <br>
    <h4 class="card-title">Transações autorizadas com sucesso</h4>
    <div>
      <div style="display: block">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
          [chartType]="barChartType" [colors]="barChartColors" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>