<alert [hidden]="!dismissibleKey" type="warning">
  <strong>Ops</strong>, você precisa digitar uma data de entrada, saida e um tipo.
</alert>
<alert [hidden]="dismissibleError" type="danger">
  <strong>Ops</strong>, nenhuma NF-e foi achada com essa combinação.
</alert>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-offset-3 col-lg-6">
      *Obs: limitei o resultado em 5 mil <br>
      Escolha um ou mais status
      <div class="input-group">
        <ss-multiselect-dropdown [options]="myOptions" [(ngModel)]="optionsModel"></ss-multiselect-dropdown>
        <span class="input-group-btn">
          <button class="btn btn-primary" (click)="pesquisar()">Pesquisar</button>
        </span>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div [hidden]="table">
      <table class="table" style="overflow: auto">
        <thead>
          <tr>
            <th>Chave</th>
            <th>Data</th>
            <th>Tipo</th>
            <th>Numero</th>
            <th>Serie</th>
            <th>Modelo</th>
            <th>ValorTotal</th>
            <th>ValorProd</th>
            <th>ValorICMS</th>
            <th>ValorIPI</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of result">
            <td tooltip="{{item.Chave}}">{{item.Chave | limitTo: 25}}</td>
            <td>{{item.Data}}</td>
            <td>{{item.Tipo}}</td>
            <td>{{item.Numero}}</td>
            <td>{{item.Serie}}</td>
            <td>{{item.Modelo}}</td>
            <td>R$ {{item.ValorTotal | moeda}}</td>
            <td>R$ {{item.ValorProd | moeda}}</td>
            <td>R$ {{item.ValorICMS | moeda}}</td>
            <td>R$ {{item.ValorIPI | moeda}}</td>
            <td>R$ {{item.Status}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>