<br>
<div class="container">
  <tabset>
    <tab>
      <ng-template tabHeading>1º Item</ng-template>
      <app-nfetran-error></app-nfetran-error>
    </tab>

    <tab>
      <ng-template tabHeading>2º Item</ng-template>
      <app-nfetran-success></app-nfetran-success>
    </tab>
    <tab>
      <ng-template tabHeading>3º Item</ng-template>
      <app-nfetran-sefaz></app-nfetran-sefaz>
    </tab>
  </tabset>
</div>