<br>
<div class="card">
  <div class="card-block">
      <br>
    <h4 class="card-title">Total de erros: {{erros}}</h4>
    <div style="display: block">
      <canvas baseChart #chartName="base-chart" [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)" [colors]="pieChartColors" [options]="pieOptions"></canvas>
    </div>
  </div>
</div>

<br>
<br>
<br>