<br>
<div class="container">
  <tabset>
    <tab>
      <ng-template tabHeading>Item A</ng-template>
      <app-data-type></app-data-type>
    </tab>
    <tab>
      <ng-template tabHeading>Item B</ng-template>
      <app-nfe-key></app-nfe-key>
    </tab>
    <tab>
      <ng-template tabHeading>Item C</ng-template>
      <app-nfe-cnpjcpf></app-nfe-cnpjcpf>
    </tab>
    <tab>
      <ng-template tabHeading>Item D</ng-template>
      <app-nfe-total></app-nfe-total>
    </tab>
    <tab>
      <ng-template tabHeading>Item E</ng-template>
      <app-nfe-status></app-nfe-status>
    </tab>
    <tab>
      <ng-template tabHeading>Item F</ng-template>
      <app-nfe-fiscaltrans></app-nfe-fiscaltrans>
    </tab>
  </tabset>
</div>